version: '3.8'

services:
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "{{ kafka_ui_port }}:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=production-cluster
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS={% for host in groups['kafka_brokers'] %}{{ hostvars[host]['ansible_host'] }}:9092{% if not loop.last %},{% endif %}{% endfor %}
      - KAFKA_CLUSTERS_0_READONLY=false
      - DYNAMIC_CONFIG_ENABLED=true
    restart: always
